alembic=1.7.6
attrs=21.4.0
click=8.0.3
flask=2.0.2
flask-migrate=3.1.0
flask-sqlalchemy=2.5.1
greenlet=1.1.2
gunicorn=20.1.0
importlib-metadata=4.10.1
importlib-resources=5.4.0
itsdangerous=2.0.1
jinja2=3.0.3
mako=1.1.6
markupsafe=2.0.1
more-itertools=8.12.0
packaging=21.3
pluggy=0.13.1
psycopg2=2.9.3
py=1.11.0
pyparsing=3.0.7
pytest=5.4.3
sqlalchemy=1.4.31
wcwidth=0.2.5
werkzeug=2.0.2
zipp=3.7.0