{% extends 'base.html' %} 
{% block content %}
    <div class="column">
        <form method="post" action="{{ url_for('dashboard') }}">
            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="form-label" for="url">
                        Ссылка
                </label>
                <input 
                    class="form-input"
                    type="text" 
                    name="url" 
                    id="url" 
                    placeholder="https://длинная-длинная-ссылка.ru" 
                    value="{{ request.form.get('url', '') }}" 
                    autofocus>
                <label class="form-switch">
                    <input 
                    type="checkbox" 
                    name="custom_on" 
                    id="custom_on"
                    onclick="hideCustomId()"
                    {{ 'checked' if request.form['custom_on'] else '' }}>
                    <i class="form-icon"></i>
                    Указать имя ярлыка
                </label>
                <input 
                    class="form-input" 
                    type="text" 
                    name="custom" 
                    id="custom" 
                    placeholder="введите желаемое имя ярлыка"
                    value="{{ request.form.get('custom', '') }}">
                <label class="form-switch">
                    <input 
                        type="checkbox" 
                        name="password_on" 
                        id="password_on"
                        onclick="hidePassword()"
                        {{ 'checked' if request.form['password_on'] else '' }}>
                    <i class="form-icon"></i>
                    Установить пароль
                </label>
                <input 
                    class="form-input" 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="введите пароль">
            </div>
            <div class="form-group">
                <button 
                    class="btn btn-primary" 
                    type="submit" 
                    name="action">
                    Сократить
                </button>
            </div>
        </form>
    </div>
    <br> 
    {% if shortcuts %}
    <div class="column">
        <table class="table">
            <head>
                <tr>
                    <th>Ярлык</th>
                    <th>QR-код</th>
                    <th>Создан</th>
                </tr>
            </head>
            <tbody>
                {% for shortcut in shortcuts %}
                    <tr class="active">
                        <th>
                            <a href="{{ url_for('redirect_url', shortcut_id=shortcut.shortcut_id, _external=True) }}" target="_blank" role="button">
                                {{ url_for('redirect_url', shortcut_id=shortcut.shortcut_id, _external=True) }}
                            </a>
                        </th>
                        <th>
                            <a href="{{ url_for('get_qr', shortcut_id=shortcut.shortcut_id, _external=True) }}" target="_blank" role="button">
                                <i class="icon icon-share"></i>
                            </a>
                        </th>
                        <th>
                            {{ shortcut.created | datetime }}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/checkboxhide.js') }}"></script>
{% endblock %}