{% extends 'base.html' %} 

{% block navbar %}
{% endblock %}

{% block content %}
<div class="hero hero-lg">
    <div class="hero-body">
        <div class="p-centered  text-center">
            <span  class="text-primary"><h1><b>Url Shortcuts</b></h1></span>
        </div>
        <form method="post" action="">
            <div class="form-group">
                <label class="form-label" for="password">
                        Password
                    </label>
                <input class="form-input" type="password" name="password" id="password" placeholder="enter-your-password" autofocus>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit" name="action">Go<i class="icon icon-arrow-right"></i></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}