{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
        <div class="hero hero-lg">
            <div class="hero-body">
                <div class="p-centered  text-center">
                    <span  class="text-primary"><h1><b>Url Shortcuts</b></h1></span>
                </div>
                <div style="display: none">
                    <p>Redirecting<a id="link_to" href="{{ link }}">...</a></p>
                </div>
                <div class="loading loading-lg"></div>
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/redirect.js') }}"></script>
{% endblock %}